:root {
    --main-color-1:#C18FFF;
    --main-color-2:#FFF2CF;
}

#foo {
    color: var(--main-color-1);
    color: var(--main-color-2);
}
body{
font-family: poppins;
margin: 0;
}
/*header*/
.header{
    background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
 position: sticky;
    top: 0;
    width: 100%;
    z-index: 200;
    box-shadow: 0px 4px 20px 0px rgb(20 20 20);   
  
  }
  
  .left{
    margin-left: 15px;
    font-size: 25px;
    color: white;
  }
  
  .right{
  margin-left: 20%;
  }
  
  
  .right nav ul{
    display: flex;
    margin-right: 5px;
    
  }
  
  .right nav ul li a{
    text-decoration: none;
    color: black;
  }
  
  
  
  .right nav ul li{
    list-style: none;
    padding: 2px;
    margin: 0 25px;
    
  }
  .checkbtn{
    float: right;
    font-size: 2rem;
    display: none;
   
  }
  #check{
    display: none;
  }
  /*main-page*/
.talent-main{
    width:80%;
    height: 100vh;
}
.talent-program-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.talent-heading h2{
padding: 10px 10px 10px;
background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
}
.talent-hunt-heading-data {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 80%;

}
.talent-hunt-heading-data p{
    margin:0px 0px
}
.what-talent-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.what-talent-image
{
    width:50%;
    /* height: auto; */
}
.what-talent-image img{
    width: 100%;
}
.what-talent-data{
    width: 50%;
    padding-left: 40px;
}

.what-talent-section2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.what-talent-image2
{
    width:50%;
    /* height: auto; */
}
.what-talent-image2 img{
    width: 100%;
}
.what-talent-data2{
    width: 50%;
    padding-left: 40px;
}
/* what awits*/
.what-awaits-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.what-awaits-main .awits-heading{
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.what-awaits-main .awits-heading p{
    margin-top: 0px;
    width:90%
}
.what-awaits-main .types{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: space-around;
    text-align: center;
 
}
.what-awaits-main .types h2{
    /* margin: 5px; */
   font-weight: lighter;
   width: 200px;
   display: flex;
   /* text-align: center;
   justify-self: center;  */
   margin: auto;
   margin-top: 8px;
   padding: 10px;
   font-size: 1.2rem;
   background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));

    border-radius: 5px;
    padding-left: 70px;
    padding-right: 70px;
}
.ready-kickstart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    width:80%;
}
.ready-kickstart button{
    background-image: linear-gradient(to right,var(--main-color-1) , var(--main-color-2));
border: none;
font-size:1rem;
font-family: poppins;
font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

/* footer*/
.footer{
    background-image: linear-gradient(to right,#593e7d , #736d5b);
    color: white;
    padding: 40px 10%;
    width: 100%;
    /* position: fixed; */
  }
  
  .footer-heading{
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 30px;
  }
  
  .footer-flex{
    display: flex;
    align-items: center;
  }
  
  .footer-containt{
    width: 50%;
  }
  
  .footer-links{
    /* margin-left: 100px; */
  }
  
  .footer-text-heading{
    font-size: 32px;
    font-weight: 500;
    margin: 7px auto;
  }
  .footer-text{
    text-align: left;
    margin-bottom: 50px;
  }
  .phone,.email{
    text-align: left;
  
  }
  
  .footer-links-heading{
    font-size: 25px;
    font-weight: bold;
  }
  
  .footer-links ul{
    /* column-count: 2; */
    column-gap: 30px;
    list-style: none;
  }
  
  
  .social-menu{
  padding-top: 100px;
  position: relative;
  height: 10%;
  width:  auto;
   
  }
  .social-menu ul {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
  }
  .social-menu ul li {
  list-style: none;
  margin: 0 10px;
  }
  .social-menu ul li .fa {
  color: #7d00eb;
  font-size: 25px;
  line-height: 50px;
  width: 50px;
  transition: .5s;
  }
  .social-menu ul li .fa:hover {
  color: #ffffff;
  }
  .social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.3s;
  transform: translate(0,0px);
  box-shadow: -1px 7px 20px 0px rgb(20 20 20);
  }
  .social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
  }
  .social-menu ul li:nth-child(2) a:hover {
  background-color: #fb00ff;
  }
  
  .social-menu ul li:nth-child(3) a:hover {
  background-color: #0077B5;
  }
  
  .social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
  }
  /*responsive code*/
@media(max-width:630px){
    body{
        font-size: 0.4rem !important;
    }
    .what-awaits-main .types{
        width:460px !important;
    }
    .what-awaits-main .types h2{
        width:80px !important;
        font-size: 0.45rem !important;
    }
}
@media(max-width:850px){
    body{
        font-size: 0.6rem;
    }
    .checkbtn{
        display: block;
        margin-right: 40px;
    
    }
    
    .right ul{
        top:50px;
        right:-100%;
        width:40%;
        height: 200px;
        font-size: 1rem;
        position: fixed;
        background-image: linear-gradient(to right,#a27dd3 , #d7c899);
        transition: right 0.5s ease-out;
        text-align: center;
        margin-left: 0px;

    }
   nav ul{
        display: flex;
        flex-direction: column;
        
        justify-content: right;
    }
   .right nav ul li{
        margin-top: 10px;
    }
    #check:checked ~ ul{
        right: 0;
    }
    .checkbtn i::before {
        content: "\f0c9"; 
    }
    #check {
        display: none; 
    }
    #check:checked ~ .checkbtn i::before {
        content: "\f00d"; 
    }
    .what-awaits-main .awits-heading{
        width:80%;
    }
    /* .what-awaits-main{
        width:80%;
    } */
    .what-awaits-main .types{
        width:520px
    }
    .what-awaits-main .types h2{
        width:100px;
        font-size: 0.6rem;
    }
    .ready-kickstart button{
        font-size: 0.8rem;
    }
  }
  @media screen and (min-width: 851px) and (max-width: 1200px){
    body{
        font-size: 0.8rem;
    }
  }

  /* Mobile*/
  @media screen and (min-width: 320px) and (max-width: 480px){
    body{
        font-size: 0.8rem !important;
    }
    .talent-main {
        width:90%;
    }
    .talent-program-main{
        width: 100%;
    }
    .talent-hunt-heading-data{
        width:100%;
    }
    .talent-hunt-heading-data h3{
        font-size: 0.8rem;
      
    }
    .what-talent-section{
       
        flex-direction: column;
    }
    .talent-hunt-heading-data p {
        margin: 0px 35px;
    }
    .what-talent-image {
        width:80%;
    }
    .what-talent-data{
        width:90%;
        margin-top: -40px;
    }
    .what-talent-section2{
       
        flex-direction: column;
    }
    .what-talent-image2 {
        width:80%;
    }
    .what-talent-data2{
        width:90%;
        margin-top: -40px;
    }
    .what-awaits-main .types{
        width:250px !important;
    }
    .what-awaits-main .types h2{
     width:100px !important;
     font-size: 0.6rem !important;
    }
    .what-awaits-main .awits-heading{
        width:100%;
    }
    .what-awaits-main .awits-heading h3{
        font-size: 0.8rem;
    }
    .what-awaits-main .awits-heading p{
        font-size: 0.7rem;
    }
  }